.mainAbout {
  width: 100%;

  .aboutCollapse {
    // position: relative;
    display: flex;
    flex-direction: column;
    width: 82.5%;
    margin: 31px auto 0px;
    // border-radius: 5px;
    .aboutCollapseHeader {
      //   position: absolute;
      //   z-index: 5;
      //   border: 1px solid green;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 0 37px 0 18px;
      background-color: $primary;
      color: $fontColorLight;
      width: 100%;
      height: 47px;
      border-radius: 5px;
      h2 {
        margin: 0;
        font: {
          size: 24px;
          weight: 500;
        }
      }
      //   .chevron {
      //     background-color: blue;
      //   }
    }
    .aboutCollapseParagrah {
      //   position: relative;
      //   z-index: 1;
      //   margin-top: 20px;
      //   transform: translateY(25px);
      padding: 31px 18px 18px;
      background-color: #ddd;
      background-color: $backgroundColor;
      //   border: 1px solid blue;
      border-radius: 0 0 5px 5px;
      p {
        margin: 0;
        font: {
          size: 24px;
          weight: 400;
        }
      }
    }
    // .band {
    //   width: 100%;
    //   height: 10px;
    //   transform: translateY(-10px);
    //   border-radius: 5px;
    //   background-color: $primary;
    // }
  }
}
