.rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-items: end;
  margin: 17px 0 0px;
  // .starScale{
  //   transform: scale(1);
  // }
  @include forMobile {
    // border: 1px blue solid;
    margin: 0px;
    // width: 50%;
    img {
      width: 15px;
      height: 15px;
    }
    // transform: scale(0.5);
    // align-items: flex-start;
  }
}
