.tagsDiv {
  display: flex;
  flex-wrap: wrap;
  // margin-bottom: 12px;
  .tag {
    display: flex;
    margin-bottom: 5px;
    padding: 0px 22px;
    span {
      margin: auto;
    }
    height: 25px;
    width: fit-content;
    margin-right: 10px;
    // margin-bottom: 12px;
    border-radius: 10px;
    color: $fontColorLight;
    background-color: $primary;
    @include forMobile {
      height: 18px;
      font-size: 10px;
      margin-bottom: 5px;
    }
  }
}
