.mainError {
  margin: 124px auto 0px;
  padding: 0 10px;
  text-align: center;
  h1 {
    margin: 0 auto 36px;
    font: {
      size: 288px;
      weight: 700;
    }
  }
  p {
    margin: 0 auto 168px;
    font: {
      size: 36px;
      weight: 500;
    }
  }
  .errorLink {
    margin: 0;
    color: $primary;
    font: {
      size: 18px;
      weight: 500;
    }
  }
  @include forTablet {
    h1 {
      // margin: 0 auto 10px;
      font-size: 220px;
    }
  }

  @include forMobile {
    margin: 120px auto 0px;
    h1 {
      margin: 0 auto 10px;
      font-size: 96px;
    }
    p {
      margin: 0 auto 133px;
      font-size: 18px;
    }

    .errorLink {
      // background-color: cadetblue;
      margin: 0;
      color: $primary;
      font-size: 14px;
    }
  }
}
