// Breakpoints
$breakpoints: (
  mobile: 522px,
  mobile2: 338px,
  tablet: 900px,
);

// Largeur des pages par rapport au footer
$widthPage: 88.8%;

// Couleur principale
$primary: #ff6060;
$secondary: green;

$fontColorLight: white;
$backgroundColor: #f6f6f6;
