// Breakpoints
$breakpoints: (
  mobile: 375px,
  // mobile: 450px,
  tablet: 800px,
);

// Largeur des pages par rapport au footer
$widthPage: 86%;

// Couleur principale
$primary: #ff6060;
$secondary: green;

$fontColorLight: white;
$backgroundColor: #f6f6f6;

// Delay
// $SlideshowDelay: 1s;
