@import './normalize';

@import './variables';
@import './mixins';

@import '../common/Collapse/collapse';
@import '../common/Banner/banner';

@import '../components/Header/header';
@import '../components/Navbar/navbar';
@import '../components/Footer/footer';
@import '../components/HomeCard/homeCard';
@import '../components/Slideshow/slideshow';
@import '../components/Tags/tags';
@import '../components/Rating/rating';

@import '../pages/Home/homeGallery';
@import '../pages/LodgingSheet/lodgingSheet';
@import '../pages/About/about';
@import '../pages/Error/error';

/* Lien des polices google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: $primary;
  box-sizing: border-box;

  .app {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    .appMain {
      flex: 1;
    }
  }
}
