@import './normalize';

@import './variables';
@import './mixins';

@import '../components/Header/header';
@import '../components/Footer/footer';
@import '../components/Error/error';
@import '../components/Collapse/collapse';
@import '../components/banner/banner';
@import '../components/Slideshow/slideshow';
@import '../components/Tags/tags';
@import '../components/Rating/rating';

@import '../pages/Home/_homeGallery';
@import '../pages/LodgingSheet/lodgingSheet';
@import '../pages/About/about';

/* Lien des polices google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: $primary;
  box-sizing: border-box;
  // padding: 0 20px;

  .app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    max-width: 1440px;
    // background-color: antiquewhite;
  }
}
