.homeGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 43px auto 0;
  padding: 56px 50px 6px;
  border-radius: 25px;
  background-color: $backgroundColor;
  width: $widthPage;
  box-sizing: border-box;

  .card {
    position: relative;
    //   z-index: 3;
    overflow: hidden;
    // border: 1px red solid;
    // margin-left: 200px;
    cursor: pointer;
    width: 340px;
    // min-width: 340px;
    // max-width: 340px;
    height: 340px;
    margin-bottom: 50px;
    box-sizing: border-box;
    // padding: 0px 20px;
    border-radius: 10px;

    //   background-color: $primary;

    .cardTitle {
      position: absolute;
      z-index: 5;
      margin: 20px 20px;
      bottom: 0px;
      min-width: 300px;
      height: 50px;
      // border: 1px red solid;
      h2 {
        z-index: 5;
        color: $fontColorLight;
        text-align: left;
        font: {
          size: 18px;
          weight: 500;
        }
        margin: 0;
        line-height: 26px;
      }
    }

    .cardGradient {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
      // background-color: $primary;
    }

    .cardPhoto {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  @include forMobile {
    padding: 56px 0px 6px;
    background-color: #ddd;
    width: $widthPage;
    border: red 1px solid;

    .card {
      overflow: hidden;
      // margin: 0;
      // padding: 0;
      width: 320px;
      // min-width: auto;
      // max-width: auto;
      height: 255px;
      .cardPhoto {
        border: green solid 1px;
        width: 100%;
        height: 100%;
        // img {
        //   width: 100%;
        //   height: 100%;
        //   object-fit: cover;
        //   object-position: center;
        // }
      }
    }
  }
}
