.home {
  background-color: rgb(255, 155, 105);

  .homeTitle {
    color: white;
    margin: 64px 0;
    // font-size: 48px;
    // font-weight: 500;
    font: {
      size: 48px;
      weight: 500;
    }
  }
}
