.home {
  .mainHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 43px 0 0;
    padding: 56px 50px 6px;
    border-radius: 25px;
    background-color: $backgroundColor;

    .card {
      position: relative;
      //   z-index: 3;
      overflow: hidden;
      // border: 1px red solid;
      // margin-left: 200px;
      cursor: pointer;
      min-width: 340px;
      max-width: 340px;
      height: 340px;
      margin-bottom: 50px;
      box-sizing: border-box;
      // padding: 0px 20px;
      border-radius: 10px;

      //   background-color: $primary;

      .cardTitle {
        position: absolute;
        z-index: 5;
        margin: 20px;
        bottom: 0px;
        min-width: 300px;
        min-height: 50px;
        border: 1px red solid;
        h2 {
          z-index: 5;
          color: $fontColorLight;
          text-align: left;
          font: {
            size: 18px;
            weight: 500;
          }
          margin: 0;
        }
      }

      .cardGradient {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(0, 0, 0, 0.5) 100%
        );
        // background-color: $primary;
      }

      .cardPhoto {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        img {
          height: 100%;
          // object-fit: cover;
          // object-position: center;
          transform: translateX(-17%);
        }
      }
    }
  }
}
