.mainHome {
  margin-top: 59px;
  .homeGallery {
    margin: 43px auto 0;
    padding: 3.89% 3.52% 0.42%;
    border-radius: 25px;
    background-color: $backgroundColor;
    width: $widthPage;
    box-sizing: border-box;

    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;
      padding: 0;
    }
  }

  // @include forTablet2 {
  //   .homeGallery {
  //     ul {
  //       flex-direction: column;
  //     }
  //   }
  // }

  @include forMobile {
    margin-top: 16px;
    .homeGallery {
      margin: 0 auto;
      padding: 0px;
      background-color: transparent;
      box-sizing: border-box;
    }
  }
}
