.lodgingSheet {
  margin: 20px auto 0;
  width: $widthPage;
  // padding: 0 100px;
  .lodgingPresentation {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .lodgingTitleTags {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      // justify-content: flex-start;
      align-items: flex-start;
      // margin-top: 30px;
      .lodgingTitleLocation {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        h1 {
          // border: 1px solid blue;
          // color: aqua;
          margin: 0 0 5px;
          font: {
            size: 36px;
            weight: 500;
          }
        }
        p {
          // border: 1px solid green;
          margin: 0;
          font: {
            size: 18px;
            weight: 500;
          }
        }
      }
    }
    .lodgingSellerRating {
      display: flex;
      flex-direction: column;
      .seller {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        // border: 1px solid blue;
        margin-top: -6px;
        .nameSeller {
          // border: 1px solid green;
          margin: 0;
          text-align: end;
          line-height: 24px;
          p {
            margin: 0;
            font: {
              size: 18px;
              weight: 500;
            }
          }
        }
        .photoSeller {
          margin-left: 10px;
          width: 64px;
          height: 64px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .descriptionEquipement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 19px 0 0;
    padding: 0;
    .Collapse {
      flex: 0.47;
      // margin-left: 0;
      // margin-right: 0;
      font-size: 18px;
      .CollapseHeader {
        h2 {
          margin: 0;
          font: {
            size: 18px;
            weight: 500;
          }
        }
      }
      .CollapseParagrah {
        font: {
          size: 18px;
          weight: 400;
        }
        p {
          margin: 0;
          padding: 0;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          line-height: 24px;
        }
      }
    }
  }
  @include forMobile {
    .lodgingPresentation {
      margin-top: 15px;
      flex-direction: column;
      // justify-content: space-between;
      .lodgingTitleTags {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        // justify-content: flex-start;
        align-items: flex-start;
        // margin-top: 30px;
        .lodgingTitleLocation {
          display: flex;
          flex-direction: column;
          margin-bottom: 13px;
          h1 {
            margin: 0 0 10px;
            font-size: 18px;
            line-height: 24px;
          }
          p {
            font-size: 14px;
          }
        }
      }
      .lodgingSellerRating {
        flex-direction: row-reverse;
        // flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 9px;
        // border: 1px blue solid;
        .seller {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          // border: 1px solid blue;
          margin-top: 0px;
          .nameSeller {
            // border: 1px solid green;
            margin: 0;
            text-align: end;
            line-height: 17px;
            p {
              margin: 0;
              font-size: 12px;
            }
          }
          .photoSeller {
            margin-left: 10px;
            width: 32px;
            height: 32px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .descriptionEquipement {
      flex-direction: column;
      // justify-content: space-between;
      margin: 0px 0 0;
      padding: 0;
      .Collapse {
        // flex: 0.47;
        // margin-left: 0;
        // margin-right: 0;
        font-size: 18px;
        .CollapseHeader {
          h2 {
            margin: 0;
            font: {
              size: 13px;
              weight: 500;
            }
          }
        }
        .CollapseParagrah {
          font: {
            size: 12px;
            weight: 400;
          }
          p {
            margin: 0;
            padding: 0;
          }
          ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            line-height: 16px;
          }
        }
      }
    }
  }
}
