.home {
  .homeHeader {
    position: relative;
    height: 223px;
    border-radius: 25px;
    box-sizing: border-box;
    overflow: hidden;

    .homeTitle {
      position: absolute;
      display: table;
      z-index: 5;
      width: 100%;
      height: 100%;
      text-align: center;
      color: $fontColorLight;
      background-color: rgba(0, 0, 0, 0.3);
      h1 {
        vertical-align: middle;
        display: table-cell;
        font: {
          size: 48px;
          weight: 500;
        }
      }
    }

    .homeHeaderImg {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
    }
  }
}
