.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin: 40px auto 0;
  width: $widthPage;
  .headerLogo {
    height: 68px;
  }
  .navBar {
    display: flex;
    // flex-direction: row;
    font: {
      size: 24px;
      weight: 500;
    }

    .navBarLink {
      color: $primary;
      margin-left: 20px;
      text-decoration: none;
      &:hover {
        text-decoration: underline 1.5px;
      }
    }
    .navBarLink.active {
      text-decoration: underline 1.5px;
    }
  }

  @include forMobile {
    margin: 20px auto 0;
    .headerLogo {
      height: 47px;
    }
    .navBar {
      font-size: 12px;
      text-transform: uppercase;

      .navBarLink {
        margin-left: 10px;
        &:hover {
          text-decoration: underline 1px;
        }
      }
      .navBarLink.active {
        text-decoration: underline 1px;
      }
    }
  }

  @include forMobile2 {
    flex-direction: column;
    .headerLogo {
      margin-bottom: 8px;
    }
  }
}
