.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // background-color: rgb(211, 211, 211);
  height: fit-content;
  margin-top: 40px;
  margin-bottom: 64px;
  .headerLogo {
    height: 68px;
  }
  .headerDivLink {
    font: {
      size: 24px;
      weight: 500;
    }
    .headerLink {
      color: $primary;
      margin-left: 20px;
      text-decoration: none;
    }
    .headerLink:hover {
      text-decoration-line: underline;
    }
  }
}
