footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 64px;
  padding: 66px 0px 29px;
  background-color: black;
  height: 209px;
  box-sizing: border-box;
  .footerCopyrights {
    margin: 40px 0px 0px;
    color: $fontColorLight;
    font: {
      size: 24px;
      weight: 500;
    }
  }
  @include forMobile {
    width: 100%;
    // margin-top: 32px;
    margin-top: 20px;
    // padding-bottom: 62px;
    .footerCopyrights {
      margin-top: 26px;
      font-size: 12px;
    }
  }
}
